body{
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Sevillana', cursive;

}
**Navbar **

.nav-item{
   letter-spacing : .2em;
   font-size : 15px;
   text-transform: uppercase;


}


.dropdown-item{
   letter-spacing : .2em;
   font-size : 14px;
   text-transform : uppercase;


}



.my_footer{
     background-color: #f8f9fa;
     height: 100%;
}
.my_footer p{
     padding-top: 20px;
     font-size: 15px;

}
** category page **
.my_row_class{
    padding-top:15px;
}
.my_row_class .mx-auto{
   color: #000;
   font-size: 12px;
}



.my_image{
   width:100%;
   height:auto;

}


.my_title{
   font-size: 15px;
   text-transform : uppercase;
   letter-spacing : .2em;
   padding-top: 15px;
   padding-bottom: 10px;


}
.my_image_padding{
     padding: 5px;
     padding-top: 15px;

}
.my_bottom_margin{
    margin-bottom: 100px;
}
.card-body h4
{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: .2em;
    height: 40px;
    width: auto%;





}
**product page **
.my_prod_row_class
{
    padding-top: 15px;
    padding-bottom: 10px;

}
.my_prod_row_class .mx-auto{
    color: #000;
    font-size: 15px;
    text-decoration: none;

}

.my_prod_title{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-top: 15px;
    padding-bottom: 15px;
}
.my_prod_text{
    padding-right: 20px;
}
.my_search_text{
     padding-top:20px;
}

**Cartpage **
.my_custom_table{
    min-width: 40px;
    font-size: 14px;



}
.my_custom_thead{
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: #f8f9fa!important;

}
.custom_a{
   text-decoration: none;
}
.custom_icon{
   text_decoration: none;
   color: #868e96 ! important;
}
.my_custom_button{
  margin-top: 50px;

}


